{% extends "layout.html" %}

{% load humanize %}

{% block title %}Detail{% endblock %}

{% block content %}
    <div class="container">
        <div class="row gy-3 gy-lg-0 gx-lg-6">
            <div class="col-12 col-lg-5">
                <div id="item-image-carousel" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for image in item.images.all %}
                            <button
                              type="button" data-bs-target="#item-image-carousel"
                              data-bs-slide-to="{{ forloop.counter0 }}"
                              {% if forloop.first %}class="active"{% endif %}
                              aria-label="Slide {{ forloop.counter }}"
                            ></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in item.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ item.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button
                      class="carousel-control-prev" type="button" data-bs-target="#item-image-carousel"
                      data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next" type="button" data-bs-target="#item-image-carousel"
                      data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                {# Tags #}
                <div class="mb-3">
                    {% for tag in item.tags.all %}
                        <span class="badge text-bg-secondary">{{ tag.name.capitalize }}</span>
                    {% endfor %}
                </div>

                {# Name #}
                <h1 class="fs-2 mt-3">{{ item.name }}</h1>

                {# Price #}
                <div class="my-3 fw-medium">
                    <span class="text-decoration-line-through text-secondary">
                        {{ item.purchase_price | intcomma }}₺
                    </span>

                    <span class="text-warning ms-2 fs-4">
                        {{ item.sale_price | intcomma }}₺
                    </span>
                </div>

                <hr class="hr" />

                <div class="d-flex flex-row gap-1 my-3">
                    <a
                      class="btn btn-lg btn-success flex-grow-1"
                      target="_blank"
                      href="https://wa.me/905383453839?text={{ item.name | urlencode }}"
                    >
                        Satın al
                    </a>

                    <a
                      class="btn btn-lg btn-outline-success"
                      target="_blank"
                      href="https://wa.me/905383453839?text={{ item.name | urlencode }}"
                    >
                        Bilgi al
                    </a>
                </div>

                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button
                              class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                              aria-controls="panelsStayOpen-collapseOne"
                            >
                                Ürün açıklaması
                            </button>
                        </h2>
                        <div
                          id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                          aria-labelledby="panelsStayOpen-headingOne"
                        >
                            <div class="accordion-body">
                                {{ item.description_rendered | safe }}
                            </div>
                        </div>
                    </div>

                    {% if item.links.all %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button
                                  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                  aria-controls="panelsStayOpen-collapseTwo"
                                >
                                    İlgili linkler
                                </button>
                            </h2>

                            <div
                              id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                              aria-labelledby="panelsStayOpen-headingTwo"
                            >
                                <div class="accordion-body">
                                    <ol>
                                        {% for link in item.links.all %}
                                            <li>
                                                <a href="{{ link.url }}" target="_blank">
                                                    Link
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button
                              class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                              aria-controls="panelsStayOpen-collapseThree"
                            >
                                Nakliye bilgisi
                            </button>
                        </h2>
                        <div
                          id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingThree"
                        >
                            <div class="accordion-body">
                               Adresten alinmalidir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

